# Python
__pycache__/
*.pyc
*.pyo
.env

# Virtual environment
pytorch_env/
repsense_env/

# YOLOv8 model weights
*.pt

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store

# Weights & Biases
wandb/

# Outputs
runs/
